@font-face {
    font-family: SegoeUI;
    src: url('../fonts/segoeuil.ttf');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: SegoeUI;
    src: url('../fonts/segoeuil.ttf');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: SegoeUI;
    src: url('../fonts/segoeuil.ttf');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: SegoeUI;
    src: url('../fonts/segoeui.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: SegoeUI;
    src: url('../fonts/segoeuisb.ttf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: SegoeUI;
    src: url('../fonts/segoeuisb.ttf');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: SegoeUI;
    src: url('../fonts/segoeuib.ttf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: SegoeUI;
    src: url('../fonts/segoeuibl.ttf');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: SegoeUI;
    src: url('../fonts/segoeuibl.ttf');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: SegoeUI;
    src: url('../fonts/segoeuili.ttf');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: SegoeUI;
    src: url('../fonts/segoeuili.ttf');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: SegoeUI;
    src: url('../fonts/segoeuili.ttf');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: SegoeUI;
    src: url('../fonts/segoeuii.ttf');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: SegoeUI;
    src: url('../fonts/segoeuisbi.ttf');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: SegoeUI;
    src: url('../fonts/segoeuisbi.ttf');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: SegoeUI;
    src: url('../fonts/segoeuibi.ttf');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: SegoeUI;
    src: url('../fonts/segoeuibli.ttf');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: SegoeUI;
    src: url('../fonts/segoeuibli.ttf');
    font-weight: 900;
    font-style: italic;
}
